name: iOS CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Select Xcode version
      run: sudo xcode-select -s /Applications/Xcode.app/Contents/Developer
    
    - name: Build
      run: |
        xcodebuild build \
          -project ScientificCalculatorAppForIOS/ScientificCalculatorAppForIOS.xcodeproj \
          -scheme ScientificCalculatorAppForIOS \
          -destination 'platform=iOS Simulator,name=iPhone 15,OS=latest' \
          -configuration Debug \
          CODE_SIGNING_ALLOWED=NO
    
    - name: Run Tests
      run: |
        xcodebuild test \
          -project ScientificCalculatorAppForIOS/ScientificCalculatorAppForIOS.xcodeproj \
          -scheme ScientificCalculatorAppForIOS \
          -destination 'platform=iOS Simulator,name=iPhone 15,OS=latest' \
          -configuration Debug \
          CODE_SIGNING_ALLOWED=NO
